/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.side {
    &.triggerd{
        display: block;
        opacity: 1;
        transform: none;
  }
}