/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 16px;
}
.font-lr {
  font-size: 18px;
}
.font-lg {
  font-size: 22px;
}
.main-title {
  font-size: 35px;
  margin-bottom: 0;
}
.profile{
  &__texts,
  &__img{
    flex-basis:47%;
  }
}
.footer {
  &__ul {
    flex-direction: row;
  }
}


